{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hallo</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <div class="container pt-3">
        <h3>Implementasi Algoritma clustering dengan dbscan</h3>
{#        <div class="w-50">#}
{#            <img src="{% static 'data.png' %}" class="img-fluid">#}
{#        </div>#}
        <div class="row">
{#            <div class="col-6">#}
{#                <p>Jumlah cluster: {{ clusters_count }}</p>#}
{#                <ul>#}
{#                    {% for cluster in clusters_count %}#}
{#                        <li>{{ cluster }}</li>#}
{#                    {% empty %}#}
{#                        <li>no cluster</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
            <div class="col-12 align-content-center">
                <img src="{% static 'data.png' %}" class="img-fluid w-50">
            </div>

            <div class="col-12">
                <table class="table">
                    <tr>
                        <td>Nomor andorid</td>
                        <td> Id Andorid</td>
                    </tr>
                    {% for data in anomali_data %}
                        <tr>
                            <td>{{ data.nomor_id }}</td>
                            <td>{{ data.id_android }}</td>
                        </tr>
                    {% empty %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>