{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hallo</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Implementasi Algoritma clustering dengan dbscan</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 align-content-center">
                        <img src="{% static 'data.png' %}" class="img-fluid">
                    </div>
                    <div class="col-6">
                        <h4>Terdapat {{ clusters_count }} cluster</h4>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <form action="/pencarian" method="POST" class="row">
                    <div class="col-7">
                        {% csrf_token %} {# adding csrf token for form #}
                        <label for="" class="col-form-label fw-bold">
                            Pilih cluster yang ingin dilihat (pilih -1 jika ingin melihat data yang tidak wajar):
                        </label>
                    </div>
                    <div class="col-5">
                        <select name="cluster" id="cluster" class="form-select w-25 d-inline">
                            <option value="-1">-1</option>
                            {% for cluster in clusters_range %}
                                <option value={{ cluster }}>{{ cluster }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Cari</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>